<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3-Step Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=1.0">
</head>
<body>
    <header>
        <h1>3-Step Meal Planner</h1>
    </header>
    <main>
        <form id="search-form" action="/search_recipes" method="POST">
            <label for="meal-type">Which meal would you like to plan for?</label>
            <select id="meal-type" name="meal_type">
                <option value="Breakfast">Breakfast</option>
                <option value="Main Course">Main Course</option>
                <option value="Dessert">Dessert</option>
            </select>
            <label for="calories">Enter Maximum Calories:</label>
            <input type="number" id="calories" name="max_calories">
            <button type="submit">Search Recipes</button>
        </form>

        <div id="recipes"></div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
